

body {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    
  }

  .heading{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    margin-left: 200px;
    margin-top: 25px;
    padding : 20px;
  }

  h2{
    font-family: sans-serif;
    font-size: 30px;
    text-align: left;
  }
  
  .subtop{
    max-width:1200px;
    margin-top: 5px;
    margin-left: 10px;
    padding: 25px;
  }

  .button{
    padding:16;
    position : left;
    text-align: left;
    font-size: 30px;
  }

  #mySidebar{
    font-size: 20px;
    display:none;
    height:100%;
    width:200px;
    background-color:whitesmoke;
    position:fixed!important;
    z-index:1;
    overflow:auto;
    text-align: left;
    color: black;
  }

  .content{
    margin: 0px;
    padding-top: 100px;
    padding-right: 300px;
    padding-bottom: 100px;
    padding-left: 300px;
    background-color: whitesmoke;
    margin-top: 0px;
    background-image: url(images/baking-background.jpg);
  }

  header{
    background-color: whitesmoke;
    text-align: center;
    font-size: 30px;
    text-decoration-style: solid;
    text-decoration-color: brown;
    background-image: url(images/baking.webp);
  }

  footer{
    background-color: whitesmoke;   
    text-align: left;
    font-size: 15px;    
    widows: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
  }

  .sub{
    background-color: rgb(248, 245, 245);
     

  }
  
  ul,li{
      margin: 10px;
      padding: 0;
      list-style-type: none;
      text-align: left;
      font-style: normal;
      color: black;
      font-size: 16px;
  }

  a{
    text-decoration:none;
    color: black;
  }

  article{
    margin-top:-80px;
    
  }

 /* Use a media query to add a breakpoint at 800px: */
@media only screen and (max-width: 600px) {
  .left, .main, .right {
    width: 50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  article {
    width: 80%;
  }
}